<ng-template [ngIf]="auth.isAuthenticated()">
  <div class="row">
    <div class="col-5">
      <a class="btn btn-sm btn-primary"
         [routerLink]="['/' + appRoute.CONTACT_NEW]">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Nuevo
      </a>
    </div>

    <div class="col-7 col-sm-5 col-lg-4 col-xl-3 ml-auto">
      <form (submit)="onSearch(f)" #f="ngForm">
        <div class="input-group">
          <input type="search" name="search" class="form-control" [ngModel]="search.filter">
          <button>
            <span class="fa fa-search"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span [hidden]="!search.filter">Resultados de: {{ search.filter }}</span>
    </div>
  </div>
  <hr>
</ng-template>

<router-outlet></router-outlet>

<hr>

<app-pagination></app-pagination>
