<a class="btn btn-sm btn-default"
   [routerLink]="[appRoute.SLASH, dirRoute.ROOT, dirRoute.PAGE, paginationService.currentPage]">
  <i class="fa fa-arrow-left" aria-hidden="true"></i>
  Directorio
</a>
<hr>
<div class="row">
  <div class="col-12 col-sm-10 col-md-8 mx-auto">
    <div class="card">
      <div class="card-body">

        <form *ngIf="contact; else contactNotFound" [formGroup]="contactForm" (ngSubmit)="onSave()" novalidate>
          <div class="form-group" [ngClass]="{'was-validated': contactForm.get('name').touched || submitted}">
            <label for="name">*Nombre:</label>
            <input type="text" class="form-control" id="name" name="name" formControlName="name" required maxlength="150">
            <div class="invalid-feedback">
              Ingresa un nombre.
            </div>
          </div>

          <div class="form-group" [ngClass]="{'was-validated': contactForm.get('phoneNumber').touched || submitted}">
            <label for="phoneNumber">Teléfono:</label>
            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber"  required maxlength="30" pattern="([ \-+()]|\d)*">
            <div class="invalid-feedback">
              Ingresa un número telefónico válido. (Se permiten números y los símbolos: -+())
            </div>
          </div>

          <div class="form-group" [ngClass]="{'was-validated': contactForm.get('locality').touched || submitted}">
            <label for="locality">Ubicación:</label>
            <input type="text" class="form-control" id="locality" name="locality"  required maxlength="150" formControlName="locality">
            <div class="invalid-feedback">Ingresa una ubicación</div>
          </div>

          <div class="form-group">
            <app-set-location-map [latLng]="{lat: contact.latitude, lng: contact.longitude}" (markerMoved)="onMapMarkerMoved($event)"></app-set-location-map>
          </div>

          <div formArrayName="products">
            Productos:
            <div style="margin-left: 1em;">

              <div *ngFor="let product of products.controls; index as i">
                <div class="form-group" [ngClass]="{'was-validated': product.touched || submitted}">
                  <div class="input-group" >
                    <input type="text" class="form-control" id="product-{{i}}" name="product-{{i}}" placeholder="ej: maíz, garbanzo, algodón"  required maxlength="150" [formControlName]="i">
                    <button type="button" class="input-group-addon" style="color: red" (click)="removeProduct(i)" *ngIf="i != 0">
                      <i class="fa fa-remove" aria-hidden="true"></i>
                    </button>
                  </div>
                  <div style="margin-top: .25rem; font-size: .875rem; color: #dc3545;" *ngIf="(product.touched || submitted) && product.invalid">
                    Ingresa un producto
                    </div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-sm btn-secondary mb-2 ml-4" (click)="addProduct()" >
              <i class="fa fa-plus" aria-hidden="true"></i>
              Agregar producto
            </button>
          </div>

          <div class="form-group" [ngClass]="{'was-validated': contactForm.get('startedWorking').touched || submitted}">
            <label for="startedWorking">Trabaja desde:</label>
            <input type="date" class="form-control" id="startedWorking" name="startedWorking" required formControlName="startedWorking" min="1901-12-14" max="{{dateService.today()}}">
            <div class="invalid-feedback">Ingresa la fecha en que empezó a trabajar</div>
          </div>

          <label for="latitude">Coordenadas:</label>

          <div class="form-row">
            <div class="form-group col-6" [ngClass]="{'was-validated': contactForm.get('latitude').touched || submitted}" >
              <input type="number"
                     class="form-control"
                     id="latitude"
                     name="latitude"
                     formControlName="latitude"
                     placeholder="latitud"
                     required
                     min="-90"
                     max="90"
                     step="any"
                     >
              <div class="invalid-feedback">Ingresa una latitud válida (-90 a 90)</div>
            </div>
            <div class="form-group col-6"  [ngClass]="{'was-validated': contactForm.get('longitude').touched || submitted}">
              <input type="number" class="form-control" id="longitude" name="longitude" formControlName="longitude" placeholder="longitud"  required min="-180" max="180" step="any">
              <div class="invalid-feedback">Ingresa una latitud válida (-180 a 180)</div>
            </div>
          </div>

          <label for="landSize">Tamaño del campo:</label>

          <div class="form-row">
            <div class="form-group col-6" [ngClass]="{'was-validated': contactForm.get('landSize').touched || submitted}" >
              <input type="number" class="form-control" id="landSize" name="landSize"  required min="0" max="999999999" step="any" formControlName="landSize">
              <div class="invalid-feedback">Ingresa el tamaño del campo</div>
            </div>
            <div class="form-group col-6"  [ngClass]="{'was-validated': contactForm.get('landSizeUnit').touched || submitted}">
              <!--<input type="text" class="form-control" id="landSizeUnit" name="landSizeUnit" placeholder=""  required maxlength="5" formControlName="landSizeUnit">-->
              <select type="text" class="form-control" id="landSizeUnit" name="landSizeUnit" placeholder=""  required maxlength="5" formControlName="landSizeUnit">
                <option *ngFor="let unitKey of Contact.landSizeUnitsKeys" [value]="unitKey">{{ Contact.landSizeUnits[unitKey] }}</option>
              </select>
              <div class="invalid-feedback">Selecciona una unidad de medida</div>
            </div>
          </div>

          <label for="harvestAmount">Capacidad de cosecha:</label>

          <div class="form-row">
            <div class="form-group col-6" [ngClass]="{'was-validated': contactForm.get('harvestAmount').touched || submitted}" >
              <input type="number" class="form-control" id="harvestAmount" name="harvestAmount" required min="0" max="999999999" step="any" formControlName="harvestAmount">
              <div class="invalid-feedback">Ingresa la capacidad de cosecha</div>
            </div>
            <div class="form-group col-6"  [ngClass]="{'was-validated': contactForm.get('harvestAmountUnit').touched || submitted}">
              <!--<input type="text" class="form-control" id="harvestAmountUnit" name="harvestAmountUnit" placeholder=""  required maxlength="5" formControlName="harvestAmountUnit">-->
              <select type="text" class="form-control" id="harvestAmountUnit" name="harvestAmountUnit" placeholder=""  required maxlength="5" formControlName="harvestAmountUnit">
                <option *ngFor="let unitKey of Contact.harvestAmountUnitsKeys" [value]="unitKey">{{ Contact.harvestAmountUnits[unitKey] }}</option>
              </select>
              <div class="invalid-feedback">Selecciona una unidad de medida</div>
            </div>
          </div>

          <div class="form-row">
            <a class="btn btn-danger mr-auto" [routerLink]="[appRoute.SLASH, dirRoute.ROOT]">Cancelar</a>
            <button class="btn btn-primary" >Guardar</button>
          </div>

        </form>
        <ng-template #contactNotFound>
          <h5 class="text-center">No existe el recurso solicitado</h5>
          <br>
          <div class="text-center">
            <a class="btn btn-primary" [routerLink]="[appRoute.SLASH, dirRoute.ROOT]">Directorio</a>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
