<a
  [routerLink]="[contact.id]"
  routerLinkActive="active"
  class="card"
>
  <div class="card-body">
    <div class="pull-left">
      <h6 class="card-title">{{ contact.name }} - {{ contact.products.join(', ') }}</h6>
      <p class="card-text">{{ contact.locality }}</p>
    </div>

    <div class="pull-right" *ngIf="auth.isAuthenticated()">
      <a class="btn btn-primary" title="Editar" [routerLink]="[contact.id, 'editar']">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </a>
      <button class="btn btn-danger" title="Eliminar" (click)="onRemove($event, contact.id)">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</a>

