<a
  [routerLink]="['/' + appRoute.CONTACT(contact.id)]"
  routerLinkActive="active"
  class="card"
>
  <div class="card-body">
    <div class="row">

      <div class="col-9 col-sm-10 col-md-9">
        <h6 class="card-title">{{ contact.name }} - {{ contact.products.join(', ') }}</h6>
        <p class="card-text">{{ contact.locality }}</p>
      </div>

      <div class="col-3 col-sm-2 col-md-3 align-self-center" *ngIf="auth.isAuthenticated()">

        <div class="row justify-content-end pr-2">
            <a class="btn btn-primary m-1" title="Editar" [routerLink]="['/' + appRoute.CONTACT_EDIT(contact.id)]">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <button type="button" class="btn btn-danger m-1" title="Eliminar" (click)="onRemove($event, contact.id)" [disabled]="removing">
              <i class="fa fa-trash-o" *ngIf="!removing" aria-hidden="true"></i>
              <i class="fa fa-spinner" *ngIf="removing" aria-hidden="true"></i>
            </button>
        </div>

      </div>

    </div>
  </div>
</a>

