<nav class="navbar navbar-expand-sm navbar-light bg-light" [ngClass]="{'app-progress-bar': progressBar.isShown()}">
  <a [routerLink]="[appRoute.HOME]" class="navbar-brand">
    <img
      alt="Brand"
      width="35"
      height="35"
      src="../../../assets/default_logo.png">
  </a>

  <button
    type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="[appRoute.HOME]">Inicio</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/' + appRoute.DIRECTORY]">Directorio</a>
      </li>

      <input class="form-control mr-sm-2" type="text" appAutocomplete [position]="currentPos" value="{{ locality }}">

      <li class="nav-item">
        <a class="nav-link" (click)="onLogout()" *ngIf="authService.isAuthenticated()">Salir</a>
      </li>
    </ul>
  </div>

</nav>
