<nav class="navbar navbar-expand-sm navbar-light bg-light" [ngClass]="{'app-progress-bar': progressBar.isShown()}">
  <a [routerLink]="[appRoute.SLASH]" class="navbar-brand">
    <img
      alt="Brand"
      width="35"
      height="35"
      src="../../../assets/default_logo.png">
  </a>

  <button
    type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="[appRoute.SLASH]">Inicio</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="[appRoute.SLASH, dirRoute.ROOT]">Directorio</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarLocationMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ locality }}
          <span class="caret"></span>
        </a>

        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarLocationMenu">
          <li><a class="dropdown-item">Cambiar ubicación</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="onLogout()" *ngIf="authService.isAuthenticated()">Salir</a>
      </li>
    </ul>
  </div>

</nav>
