<div class="row">
  <div class="col-12 mx-auto" [ngClass]="{'col-sm-8 col-md-6 col-lg-4': !isDialog}">
    <div class="card">
      <div class="card-body">
        <div class="alert alert-info" *ngIf="isDialog">Tu sesión ha expirado. Ingresa de nuevo por favor.</div>
        <form (ngSubmit)="onSignin(f)" #f="ngForm">
          <div class="alert alert-danger" *ngIf="errorMessage" role="alert">
            {{ errorMessage }}
          </div>
          <div class="form-group" [ngClass]="{'was-validated': email.touched || f.submitted}">
            <label for="email">Correo electrónico</label>
            <input type="email" id="email" name="email" #email="ngModel" ngModel class="form-control" required autofocus>
            <div class="invalid-feedback">
              Ingresa un correo electrónico válido.
            </div>
          </div>
          <div class="form-group" [ngClass]="{'was-validated': password.touched || f.submitted}">
            <label for="password">Contraseña</label>
            <input
              type="password"
              id="password"
              name="password"
              #password="ngModel"
              ngModel
              class="form-control"
              required
            >
            <div class="invalid-feedback">
              Ingresa tu contraseña.
            </div>
          </div>
          <div class="form-row">
            <button type="button" class="btn btn-danger mx-auto" mdDialogClose *ngIf="isDialog">Cerrar</button>

            <button class="btn btn-primary mx-auto" [disabled]="!f.valid || logging">
              <span *ngIf="!logging">Entrar</span>
              <i class="fa fa-spinner" *ngIf="logging" aria-hidden="true"></i>
            </button>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
